#Anna Letícia Franco Monteiro - 202065106A
#Davi Esteves dos Santos - 202065504B
#Pedro Campos Lima - 202065521B

# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
